/* ==================
        navbar
   ================== */
 

   .links{
    padding-left:15px;
}

.navbar-nav a{
    text-decoration: none;
    color: #000;
}

.navbar-nav a:hover{
    text-decoration: none;
    color: #10c9c3;
}

/* ==================
        Header
   ================== */

.header-main{
    background-color: #f5f5f5;
    padding: 30px;
}

.header-main .head{
    width: 50%;
    text-align: center;
    margin: auto;
}

.header-main .head h2{
    color: #000;
}

.header-main .head p{
    color: #566079;
}

/* ==================
        images
   ================== */


.images-main{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,200px);
    text-align: center;
    align-items: center;
}

.images-main .image{
    width: auto;
    position: relative;
}

.images-main .image img{
    width: 100%;
    height: 200px;
}

.images-main .image .shadow{
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgb(16, 201, 195,0.7);
    font-size: 15px;
    opacity: 0
}
.far{
    color: #fff;
}

.images-main .image .shadow span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   
    display: block;
  
    cursor: pointer;
    
}

.images-main .image:hover .shadow{
    opacity: 1;
}


/* ==================
        footer
   ================== */

   .footer-main{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: #222;
}

.footer-main .child1{
    color: #fff;
    width: 200px;
    text-align: justify;
    margin: auto;
}

.footer-main .child{
    border-left: 1px solid #fff;
}

.footer-main .child1 span,.fas,.fab{
    padding-bottom: 15px;
    color: #fff;
}

.child h5{
    color: #fff;
}

.footer-main .child1 p, .child p{
    color: #566079;
}

.footer-main .child{
    color: #fff;
}